#root {
  color:brown;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

.summaryContainer > p{
  color: #000;
  margin-right: 10%;
  text-align: justify;
}

.summaryContainer >h2{
  margin-top: 0px;
  padding-top: 5px;
  height: 25px;
  text-align: center;
  border: 3px solid blueviolet;
  border-radius: 10px;
  font-size: 1.2em;
}

.summaryContainer{
  background-color:grey;
  border: radius 10px; 
}
