#root {
  width: 100%;
  /* color:brown;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px; */
}
#frames {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 85vw;
  gap: 30px;
  margin: auto;
}

#home {
  background-color: rgb(173, 171, 17);
  border-radius: 30px;
  font-size: 30px;
  margin-top: em;
  margin-right: 3em;
  float: right;
  border: chocolate 2px solid;
  padding: 20px 20px;
}

.summaryContainer > p {
  color: #000;
  margin-right: 10%;
  text-align: center;
}
body {
  /* height: 50%; */
  margin: 0;
  display: grid;
  flex-direction: column;
  justify-items: center;
  margin: auto;
  gap: 50px;

  /* grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "header"
  "select"
  "footer" ;
   grid-template-rows: 200px ; */
  background-color: rgb(4, 105, 105);
}
img {
  width: 100%;
  border-radius: 20px;
}

.summaryContainer > h2 {
  margin-top: 0px;
  padding: 15px 15px;
  height: 10vh;
  width: 20vw;
  justify-content: center;
  align-items: center;
  border: 3px solid blueviolet;
  border-radius: 10px;
  font-size: 1.2em;
  background-color: rgb(126, 245, 57);
  color: #000;
}

.summaryContainer {
  width: 50vh;
  height: 80vh;
  display: grid;
  background-color: rgb(226, 236, 223);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 20px rgb(240, 10, 163);
  margin: auto;
  /* gap: 20px; */
  color: #000;
  font-size: 1.5em;

  /* margin-left: 3em;
  background-color:grey;
  border: radius 10px; 
  display: hidden; 
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3,1fr);
  width: 80vw;
  gap: 40px;
  margin: auto;  */
}
footer {
  text-align: center;
  background-color: hotpink;
  font: 1.5em sans-serif;
  display: flex;
  margin-top: 20px;
}
#search {
  font-size: larger;
  padding-left: 20px;
}
input {
  color: black;
  border: 2px solid;
  border-radius: 5px;
  height: 32px;
}
select {
  width: 350px;
  background-color: rgb(29, 214, 238);
  border: 2px solid black;
  margin-left: 3em;
  margin-top: 2em;
  height: 3em;
}
.showTitle {
  display: flex;
  border: solid rgb(30, 153, 210);
  border-radius: 10px;
  padding: 20px 20px;
  width: 15vw;
  height: 5vw;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.showInfoDiv img {
  width: 100%;
  border-radius: 10px;
}

.showInfoDiv {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  background: linear-gradient(to right, rgb(126, 76, 126), rgb(244, 6, 252));
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 20px rgb(209, 125, 16);
  overflow: hidden;
  cursor: pointer;
}

#divInfo {
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  border-radius: 10px;
  border: solid black;
  font-size: larger;
  align-items: center;
  height: 20vh;
  margin-top: 20px;

  background-color: saddlebrown;
}
.showSummary {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: larger;
  margin-top: 25px;
  position: relative;
  bottom: 0;
  height: 50vh;
  justify-content: center;
  background-color: rgb(202, 205, 50);
  width: 100%;
  padding: 20px 20px;
  box-shadow: 5px 10px tomato;
}
/* @media(max-width:460px){
  .showInfoDiv{
    grid-template-columns:repeat(1, 1fr);
  }
} */
